{% extends 'common/bases/error-base.twig' %}

{% block title %}
    {{ 'error.400.title'|trans }}
{% endblock %}

{% block body %}
<p class="error-page-msg">
	<strong>
		{{ 'error.400.message'|trans }}
		<br><br>
		{{ 'error.url.check.message'|trans }}
	</strong>
</p>
{% endblock %}
