# config files
.env.prod

# docker env data
/.docker/services/

# cache files
/var/
/public/bundles/
config/reference.php

# composer files
/vendor/
/composer.lock

# node files
/node_modules/
/public/build/
package-lock.json

# php codesniffer
.phpcs-cache

# phpunit
.phpunit.result.cache
