parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - config
        - src
        - tests
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    