{% extends 'common/bases/public-base.twig' %}

{% block body %}
{# INCLUDE NAVBAR #}
{% include 'public/elements/navbar.twig' %}

<main class="container py-5">
    <section class="text-center mb-5">
        <h1 class="display-5 fw-bold mb-3">{{ 'public.home.title'|trans }}</h1>
        <p class="lead text-muted mb-4">{{ 'public.home.lead'|trans }}</p>        
        {# LINK TO CONTACT PAGE #}
        <a href={{ path('public_contact') }} class="btn btn-primary btn-lg">
            {{ 'public.home.button.contact'|trans }}
        </a>
    </section>
</main>
{% endblock %}
