{% extends 'common/bases/admin-base.twig' %}

{% block title %}
    no permissions
{% endblock %}

{# NO PERMISSIONS PAGE #}
{% block component %}
    <h2 class="page-title">Sorry you dont have permission to this page</h2>
{% endblock %}
