{% extends 'common/bases/admin-base.twig' %}

{% block title %}
    confirmation
{% endblock %}

{# VISITORS DELETE CONFIRMATION DIALOG COMPONENT #}
{% block component %}
<div class="admin-panel">
    <div class="modal-overlay">
        <div class="confirmation dark-table">
            <p class="form-title">Are you sure you want to delete all visitors?</p>
            <form method="POST" action={{ path('admin_database_delete', {'table': 'visitors', 'page': '1', 'id': 'all', 'referer': 'visitor_manager'}) }} style="display:inline;">
                <input type="hidden" name="csrf_token" value={{ csrf_token('internal-csrf-token') }}>
                <button type="submit" class="confirmation-button confirmation-button-confirm">
                    Yes
                </button>
            </form>
            <a class="confirmation-button confirmation-button-cancel" href={{ path('admin_visitor_manager', {'page': page}) }}>No</a>
        </div>
    </div>
</div>
{% endblock %}
