/* loading animation component */
#loader-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 9999;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: #111317;
}

#loader {
	border: 15px solid rgba(255, 255, 255, 0.426);
	border-top: 15px solid rgb(63, 213, 213);
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: transparent;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
