/* custom dark scrollbar */ 
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
} 

::-webkit-scrollbar-track {
	background: rgb(53, 53, 53);
}
 
::-webkit-scrollbar-thumb {
	min-height: 80px;
	background: #4a5056;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
} 

::-webkit-scrollbar-thumb:hover {
	background: #5c646b;
}

/* mobile devices style */
@media screen and (max-width: 800px) { 
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
    ::-webkit-scrollbar-thumb {
		min-height: 60px;
    } 
}
